# BMW tokens
/tokens.json
/auth_seed.json
/streaming_scopes.txt
/streaming_scopes_prefixed.txt
/device_seed.json

# Home Assistant config (local dev)
config/

# Python
__pycache__/
*.pyc
*.pyo
.vs*
.venv/
